Repository Ballwictb/Finanzapp, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend: JS, Frontend: CSS

minor change dark mode
  css/landing_page.css
Labels: Frontend: CSS

Implementa el header con avatar
  css/landing_page.css
  includes/header.php
Labels: Frontend: CSS

Estilos LiteVideo CSS
  css/landing_page.css
  index.php
Labels: Frontend: CSS

add logout
  app/auth/logout.php
Labels: none

change validationlogin ajax
  js/loginValidation.js
Labels: Frontend: JS

Update login.php
  app/login.php
Labels: none

Recopila datos tras aceptar cookies
  index.php
  js/cookieConsent.js
  js/landing_page.js
Labels: Frontend: JS

modified cookieConsent
  js/cookieConsent.js
Labels: Frontend: JS

modified cookie
  js/cookieConsent.js
Labels: Frontend: JS

Update cookieConsent.js
  js/cookieConsent.js
Labels: Frontend: JS

cookie coords added
  js/cookieConsent.js
Labels: Frontend: JS

Delete js/cookieConsent.js
  js/cookieConsent.js
Labels: Frontend: JS

change url link for cookies
  index.php
Labels: none

Upgraded privacy policy and minor fix in mobile dark mode
  app/privacy.php
  css/landing_page.css
  js/cookieConsent.js
  langs/en.json
  langs/es.json
  langs/fr.json
  receive-data.php
Labels: Frontend: JS, Frontend: CSS

Delete js/cookieConsent.js
  js/cookieConsent.js
Labels: Frontend: JS

Delete receive-data.php
  receive-data.php
Labels: none

Create receive-data.php
  receive-data.php
Labels: none

Add logic for transition
  js/trans.js
Labels: Frontend: JS

comment line initcookie
  js/landing_page.js
Labels: Frontend: JS

Add class tran for transitions
  includes/footer.php
  includes/header.php
  includes/mobileMenu.php
Labels: none

add styles global transition
  css/scrollbar.css
Labels: Frontend: CSS

improve styles for theme dark
  css/landing_page.css
Labels: Frontend: CSS

add script for transition and import css scrollbar
  app/login.php
  app/register.php
Labels: none

import line js for transitions
  app/about.php
  app/contact.php
  app/cookies.php
  app/privacy.php
  app/terms.php
  index.php
Labels: none

Add deleteAccount
  app/auth/deleteAccount.php
Labels: none

reset password php added
  app/login.php
  app/reset.php
  langs/en.json
  langs/es.json
  langs/fr.json
Labels: none

Add ajax for register
  js/registerValidation.js
Labels: Frontend: JS

Add value for checbox
  app/register.php
Labels: none

Add logic for register
  app/auth/sendRegister.php
Labels: none

Delete app/auth/sendRegister.php
  app/auth/sendRegister.php
Labels: none

fix register var
  js/registerValidation.js
Labels: Frontend: JS

Add register with google
  app/register.php
Labels: none

Add new lines at gitignore
  .gitignore
Labels: none

.github/labeler.yml:

"Frontend: JS":
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - 'src/**/*.js'
  - 'src/**/*.ts'
  - 'client/**'
  - 'frontend/**'

"Frontend: CSS":
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'
  - '**/*.less'
  - 'styles/**'
  - 'css/**'
